#email-content-inner {
	/* this overrides the default from header-styles.vm */
	padding: 32px;
}

.summary-container-content p,
.summary-container-content div,
.summary-container-content span {
    margin-top: 0em;
}

.summary-container-content a {
	color: #3C78B5;
	text-decoration: none;
}

.summary-container-content em {
	font-weight: bold;
	font-style: normal;
}

.summary-container,
.summary-container .summary-container-content td {
	background: #fff;
    color: #292929;
    font-size: 16px;
    font-family: sans-serif;
}

.summary-container-content h1 {
	margin-bottom: .05em;
	margin-top: 0;
	vertical-align: top;
	font-size: 1.6875em;
	font-weight: normal;
}

.summary-container-content .content-header h2 {
	text-transform:uppercase;
	font-size: 0.69em;
	font-weight: normal;
	width: 9em;
	margin-top: 0px;
	margin-bottom: 0px;
}

.summary-container-content h3.content-heading {

	margin-top: 1.25em;
	margin-bottom: .65em;
	-webkit-margin-before: 1.25em;
    -webkit-margin-after: .65em;
	font-weight: normal;
	font-size: 1.15em;
}

.summary-container .summary-header .right {
	font-size: 0.88em;
	width: 9.5em;
	padding-top: .3em;
}

.summary-container .summary-header div.switch-schedule {
	padding-top: .4em;
	font-size: .75em;
	white-space: nowrap;
	padding: 10px 0px 10px 0px;
    color: #666666;
}

.summary-header div.switch-schedule a {
    font-weight: bold;
}

.content-article td.content-body {
	padding: 0;
	font-size: .8125em;
	line-height: 1.30em;
	vertical-align: top;
	min-width: 50%;
}
/* undo email heading overrides */
.content-article .content-body h1,
.content-article .content-body h2,
.content-article .content-body h3,
.content-article .content-body h4,
.content-article .content-body h5,
.content-article .content-body h6 {
    text-transform: none;
    margin-top: .5em;
    margin-bottom: .5em;
    font-weight: bold;
}

.content-article .content-body h1 {
    font-size: 1.5em;
}

.content-article .content-body h2 {
    font-size: 1.25em;
}

.content-article .content-body h3 {
    font-size: 1.15em;
}
.content-article .content-body h4 {
    font-size: 1.1em;
}
.content-article .content-body h5 {
    font-size: 1.05em;
}

.content-article .content-body h6 {
    font-size: 1em;
}

.content-article td.content-images {
	max-width: 50%;
	padding: 0;
}

/*
.content-body-table td {
	   border: 1px solid #CCCCCC;
}
*/

.content-article td.content-images, .content-article .content-images td {
	vertical-align: top;

}

.content-article .content-images img {
	border: 1px solid #dddddd;
	overflow: hidden;
}

.content-article .content-images img.primary {
	margin-left: 1em;
	margin-top: 0;
    max-width: 16em;
    width: auto;
    height: 9.75em;
    max-height: 9.75em;
}

.content-article .content-images img.secondary {
    width: 3em;
    height: 3em;
    max-width: 3em;
    max-height: 3em;
    margin-top: 0em;
    margin-bottom:0em;
    padding-top: 0;
    padding-bottom: 0em;
}
.content-article .content-images td {
	padding-top: 0;
	padding-bottom: 0;
	-webkit-border-horizontal-spacing: 0;
    -webkit-border-vertical-spacing: 0;
}

.content-article .content-body-table > tr,
.content-article .content-body-table .content-body {
    width: 100%;
    -webkit-border-horizontal-spacing: 0px;
    padding-right: 0px;
}

.content-article table.content-body-table {
	width: 100%;
}

table.content-header {
	margin-top: 1.5em;
}

.summary-container .content-header hr {
	border-top-width: 0px;
    border-bottom-width: 1px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-top-color: #aaaaaa;
}

table.content-header, .content-header tr {
	width: 100%;
}
.content-header td {
	vertical-align: middle;
}

.summary-container-content .full-width {
	width: 100%;
}

.content-article .content-body p {
	position: relative;

}

.summary-header .date {
	color: #999999;
	font-size: 0.8125em;
}

.summary-header tr, .summary-header th {
	vertical-align: bottom;
}

.summary-header td {
    vertical-align: top;
    text-align: top;
}

.summary-container .content-article .content-author {
    font-size: .8125em;
}
.content-article .author {
	color: #292929;
}

.content-article .author-name {
	margin-left: 3px;
	color: #999999;
	display: inline;
}

.content-article  img.avatar {
	height: 24px;
	width: 24px;
	vertical-align: middle;
	margin-right: 2px;
}

.content-author em.name {
	font-weight: bold;
	font-style: normal;
    vertical-align: top;
}

a.call-to-action {
	background-color: #3C78B5;
	color: #FFFFFF;
	margin: 16px 0px 16px 0px;
	padding: 5px 5px 5px 5px;
	/* font-size: 90%; */
	font-weight: normal;
	border-radius: .5em;
	vertical-align: bottom;
	text-align: auto;
}

.summary-container .switch-schedule a {
	font-weight: bold;
	/*color: #666666;*/
}

.right {
	float: right;
	align: right;
	text-align: right;
}

.network-avatar-list img {
	height: 1.5em;
}

ul.inline-list,
.inline-list li {
	display: inline-block;
	margin: 0;
	padding: 0;
}

.email-footer ul.inline-list, .email-footer .inline-list li {

	margin-right: .5em;
	margin-top: .5em;
	margin-bottom: .5em;
	display: inline-block;
	color: #3C78B5;
	veritcal-align: bottom;
}

.inline-list span.list-dot {
  font-size: .2em;
  text-decoration: none;
  color: #999999;
  display:list-item;
  list-style-type: disc;
  list-style-position: inside;
  padding-left: 2em;
  vertical-align: top;

}

.summary-container .content-activity {
	/* padding-top: 10px; */
	padding-right: 4px;
	padding-top: 0px;
	padding-bottom: 0px;
	line-height: 1.5em;
}

.summary-container .content-subheading {
	margin-bottom: 0.5em;
}

.summary-container .content-subheading,
.summary-container .content-subheading tr,
.summary-container .content-subheading td {
    vertical-align: middle
}

.summary-container .content-subheading span {
    height: 100%;
}


.content-activity .network-avatar-list img {
	height: 24px;
	width: 24px;
}

.content-activity .network-avatar-list {
	padding-left: 16px;
}

.activity-count {
	vertical-align: middle;
	font-size: .8125em;
	color: #3C78B5;
}

.icon {
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	display: inline-block;
	vertical-align: middle;
	margin-left: .8em;
}

.icon.like {
	padding-bottom: 4px;
}

.icon.comment {
    margin-top: 4px;
}
.comment-count span.icon {
	/* background-image: url(comment.png); */
	background-position-x: -144px;
}

.summary-container .popular-content-footer {
	margin-top: 1.5em;
	margin-bottom: 1em;
}
.summary-container .popular-content-footer td {
	font-size: .8125em;
}

.summary-container .summary-container-content table.confluenceTable {
	margin-bottom: .8125em;
}
.summary-container .summary-container-content table.confluenceTable td {
	font-size: .8125em;
}

.summary-container hr.subsection {
	border-top-width: 0px;
	border-bottom-width: 1px;
	border-right-width: 0px;
	border-left-width: 0px;
	border-top-color: #dddddd;
}

.image-panel {
	float: right;
	height: 12.4em;
	max-width: 21em;
	margin-left: 1em
}
.image-panel img{
	overflow: hidden;
	vertical-align: middle;
	margin-bottom: .1em;
	height: 4em;
	width: 4em;
}

.image-vertical {
	float: right;
	display: inline-block;
}

.image-vertical p {
	margin: 0 0 .2em .3em
}

.image-panel img.tall {
	height: 12.4em;
	width: auto;
	max-width: 15em;
}

.image-panel img.wide {
	width: 15em;
	height: auto;
	max-height: 12.4em;
}
#email-wrapper #email-wrapper-inner {
	padding-bottom: .5em;
}

#email-footer {
	padding-left: 20px;
	margin-top: -0.5em;
	padding-top: -0.5em;
}

#email-footer small {
    color: #666666;
    line-height: 1.5em;
}
.email-footer-link {
	padding-bottom: 1em;
}
